<main>
  <div class="card p-2">
    <p><i>{{pageDescription}}</i></p>
  </div>

  <hr class="my-5">

  <div>
    <div class='row g-2'>
      {{#each sections}}
        <div class='col-3'>
          <div class='card h-100'>

            <div class='card-header'>
              <h5 class='text-center'><b>{{title}}</b></h5>
            </div>

            <div class="card-body"> 
              {{#each pages}}
                <div class="m-2">
                  {{> link-button isOutline=true type='primary' link=href text=text }}
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</main>