<div>
  {{#with web/languages}}
  <main>
    <section class="p-0">
      <ol>
        {{#each this}}
          <li>
            
            <div class="mb-3">{{> title data=name big=true}}</div>
            <div>Version: <b> {{version}}</b></div>
            <div class="mb-3">Description: <q>{{description}}</q></div>

            <ul>
              <li>
                {{#if this.elements}}
                  {{> elements data=elements}}
                {{else}}

                  {{#if this.properties}}
                    {{> elements data=properties}}
                  {{else}}

                    {{#if this.functions}}
                      {{> elements data=functions}}
                    {{/if}}

                  {{/if}}
                  
                {{/if}}
              </li>
            </ul>
          </li>
        {{/each}}
      </ol>     
    </main>
    {{/with}}
</div>