<label class='form-label mb-0'>{{data.label}}</label>
<input
  class='form-control {{#if size}}{{size}}{{/if}}'
  placeholder='{{data.placeholder}}'
/>
{{#if data.caption}}
  <div class='form-text mt-0'>{{data.caption}}</div>
{{/if}}