{{#with data}}
  {{!-- <br /> --}}
  {{#with venue}}
    <div class="mt-3">Name: <b>{{name}} </b> </div>

    {{> location data=location}}
  {{/with}}

  {{!-- <br /> --}}
  <div class="mt-3">
    {{#with performers}}
      <u> Performers:</u>
      {{#each this}}
        <ul>
          <li>
            {{#with this}}
              <div> Performer name: <b> {{name}}</b></div>
              <div> Performer type: <b>{{type}} </b> </div>
            {{/with}}
            <br>
          </li>
        </ul>
      {{/each}}
    {{/with}}
  </div>
{{/with}}