<nav class="mt-2 mb-0">
  {{> link text='Summary' href='/summary' delimiter='/'}}
  {{> link text='Skills' href='/skills' delimiter='/'}}
  {{> link text='Educations' href='/education' delimiter='/'}}
  {{> link text='Works' href='/work'}}
</nav>