<!DOCTYPE html>
<html>
  <head>
    <title>
      {{page.title}}
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
  </head>

  <body>
    {{> nav}}

    <br>
    <hr>

    {{{body}}}

    <br>
    <hr>

    {{#with header}}
      {{> footer 
        social=../footer/social 
          firstname=name.firstname 
          lastname=name.lastname 
          address=address
      }}
    {{/with}}
  </body>

</html>